:root {
  --lime: #b8d344;
  --green: #34a853;
  --bitcoin-color: #f8a034;
  --ethereum-color: #848586;
  --ripple-color: #000000;
  --litecoin-color: #345d9d;
  --bitcoin-cash-color: #8dc351;
  --monero-color: #ff6600;
  --tronix-color: #cd372d;
  --dash-color: #028de4;
  --newsapi-key: f6968066194849a19cf97a517a1cd3b3;
}
body {
  margin: 0;
  padding: 0;
  min-width: 400px;
  overflow-x: unset;
}
h1 {
  display: inline-block;
}
.header-logo {
  width: 35px;
  display: inline-block;
}
.logo img {
  width: 200px;
  margin-bottom: 50px;
}
.dashboard-logo {
  margin: 0;
  padding: 0;
}
.dashboard-logo img {
  height: 40px;
  vertical-align: sub;
}
.dashboard-minicharts .chart {
  height: 225px;
  padding: 10px 0px;
}
.sidebar {
  background-color: #1f262d;
}
.sidebar-toggle {
  font-size: 1.5em;
}
.sidebar ul li a {
  padding: 1.5rem 1rem;
}
.sidebar a svg {
  font-size: 1.5em;
  vertical-align: text-top;
}
.sidebar-dark ul li a:hover,
.sidebar-dark ul .active a {
  background-color: var(--green);
}
.admin-panel-logo-text {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.admin-panel-logo-text .decagon {
  font-size: 1.5em;
  display: inline-block;
}
.admin-panel-logo-text .crypto {
  font-size: 0.5em;
  display: inline-block;
}
/* .profile-icon {
  font-size: 1.25em;
} */
.site-content.login-page,
.site-content.signup-page {
  background: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
}
.overlay {
  background: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
}
.form-wrapper {
  margin: 100px;
}
.form-wrapper h2,
.form-wrapper h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
#login-form,
#signup-form {
  margin-top: 100px;
  margin-bottom: 50px;
}
.form-title.login,
.form-title.signup {
  font-size: 6.1rem;
}
.recaptcha {
  background-color: whitesmoke;
  padding: 20px 0px 20px 5px;
  border-radius: 5px;
  font-size: 1.25em;
}
.recaptcha-google {
  float: right;
  margin-top: -15px;
  text-align: center;
}
.recaptcha-google img {
  height: 30px;
}
.recaptcha-google .text {
  display: block;
  font-size: 0.75rem;
}
.recaptcha-text {
  margin-left: 20px;
}
.captcha-links {
  display: block;
  margin-top: -15px;
}
.captcha-links a {
  font-size: 0.425em;
  padding-top: 0;
  margin-top: -20px;
  color: #000;
}
.custom-control-label::before {
  position: absolute;
  top: 0px;
  left: -2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  content: '';
  background-color: #fff;
  border: #adb5bd solid 2px;
  border-radius: 1px;
}
.custom-control-label::after {
  position: absolute;
  top: 0em;
  left: -2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  content: '';
  background: no-repeat 50%/50% 50%;
}
.login-button,
.signup-button {
  color: var(--green);
  border-color: var(--green);
}
.login-button:hover,
.signup-button:hover {
  background-color: var(--green);
  border-color: var(--green);
}
.signup-link a {
  color: white;
  text-decoration: none;
}
.signup-link a:hover {
  color: var(--lime);
}
.cryptocurrency-news h3,
.charts-title h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 10px 0px 20px;
  font-weight: bold;
}
.cryptocurrency-news .article h4 {
  font-size: 1.125em;
}
.cryptocurrency-news .article a {
  color: #000;
}
.cryptocurrency-news ul {
  margin: 0;
  padding: 0;
}
.cryptocurrency-news ul li {
  margin: 0;
  padding: unset;
  padding-top: 20px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--green);
}
#wallets-page,
#transactions-page,
#profile-page {
  min-height: 100vh;
}
.wallet-instance {
  min-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wallet-instance .card-footer button {
  padding: 5px 10px;
  margin: 2px;
}
.buy-sell-indicator {
  height: 360px;
}
#wallets-page .nav-link,
#transactions-page .nav-link {
  color: var(--green);
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
}
#wallets-page .nav-link.active,
#transactions-page .nav-link.active {
  color: white;
}
#wallets-page .nav-link i,
#transactions-page .nav-link i {
  font-size: 2rem;
  vertical-align: sub;
  margin-right: 10px;
}
#transactions-page .transaction-tabs a.active {
  background-color: var(--green);
}
.page-item.active .page-link {
  background-color: var(--green);
  border-color: var(--green);
}
.profile-pic {
  margin-top: 100px;
}
.profile-pic img {
  border-radius: 100px;
  width: 200px;
}
.user-details {
  margin-top: 50px;
  margin-bottom: 30px;
}
.user-details p {
  font-size: 1.25rem;
}
.delete-account {
  display: inline-block;
  margin-top: 100px;
  color: red;
  /* font-weight: bold; */
  /* font-size: 0.85em; */
}
.delete-account:hover {
  color: red;
}
#profile-page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.profile-wrapper {
  box-shadow: 0px 0px 30px 1px #aaa;
}
#profile-user-name {
  font-weight: bold;
  font-size: 2.5rem;
}
#edit-profile-picture {
  border: 1px solid #d6d6d6;
  padding: 2px;
  border-radius: 3px;
}
